@charset "UTF-8";

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Source Code Pro';
    text-align: center;
    color: white;
    background: linear-gradient(#2f8f9d, black);
}

h1 {
    font-size: 3rem;
    font-size: clamp(5px, 8vw, 42px);
}

.responsividadeParagrafo {
    font-size: 3rem;
    font-size: clamp(10px, 4vw, 18px);
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.espacamento {
    margin-top: 10px;
    margin-bottom: 15px;
}

.conteiner-principal {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80%;
}

.centralizarDiv {
    margin-left: auto;
    margin-right: auto;
}

#imagem-perfil {
    margin-top: clamp(10px, 10vw, 40px);
    border: 2px solid white;
    border-radius: 50%;
    width: clamp(20px, 30vw, 160px);
    height: clamp(20px, 30vw, 160px);
}

.conteiner-botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin-top: clamp(1px, 5vh, 50px);
    padding-bottom: 7vh;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(10px, 60vw, 270px);
    height: clamp(35px, 11vw, 50px);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: azure;
    color: black;
}

.botao:hover {
    background-color: #c1f9f7;
}

.fixarRodape {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

hr {
    width: 90%;
}