@charset "UTF-8";

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Source Code Pro';
    text-align: center;
    color: white;
    background: linear-gradient(#2f8f9d, black);
}

h1 {
    font-size: 3rem;
    font-size: clamp(5px, 8vw, 42px);
}

.responsividadeParagrafo {
    font-size: 3rem;
    font-size: clamp(10px, 4vw, 18px);
}

.espacamento {
    margin-top: 10px;
    margin-bottom: 20px;
}

.conteiner-principal {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.centralizarDiv {
    margin-left: auto;
    margin-right: auto;
}

#imagem-perfil {
    margin-top: clamp(10px, 10vw, 40px);
    border-radius: 50%;
    height: clamp(20px, 30vw, 200px);
    width: clamp(20px, 30vw, 200px);
}

.conteiner-botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin-top: 10%;
}

.botao {
    display: inline-block;
    width: 225px;
    height: px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: azure;
    color: black;
}

.botao:hover {
    background-color: #c1f9f7;
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.corLinha {
    width: 90%;
}